{% extends './partials/base.html' %}
{% load static %}

{% block title %}
  DAVIDA Bom Samaritano
{% endblock %}

{% block content %}
  <div class="banner">
    <div class="" data-aos="fade-left">
      <h1>
        aqui podemos colocar<br />
        uma foto de fundo com alguma ação da instituição.
      </h1>

      <a href="{% url 'doacao' %}" class="btn-ajude">apoie-nos</a>
    </div>
  </div>

  <section class="ong-apresentacao">
    <div class="" data-aos="fade-down" data-aos-delay="600">
      <h1>Somos a Davida Bom Samaritano</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum, metus et semper posuere, lacus ipsum molestie purus, vitae finibus ipsum leo et lorem. In maximus laoreet iaculis. Suspendisse et maximus nibh. Nulla rutrum risus nec ultricies sodales. Mauris id orci pellentesque, aliquet turpis vel, ullamcorper risus. Ut pellentesque neque id tristique bibendum. Aenean commodo eros eget viverra hendrerit. Aliquam vitae risus lacus. Nunc eu aliquam purus, a porta orci. Mauris sagittis id sapien quis suscipit. Maecenas et justo ac ligula pulvinar lacinia. Cras quam eros, feugiat et tellus ut, tincidunt blandit est. Proin laoreet ipsum eu mattis pharetra.</p>
      <a href="{% url 'sobre' %}" class="btn-nossahistoria">nossa história</a>
    </div>
 
 
 
  </section>
  <main>
    <section class="atividades container">
      <h1 class="title cp" data-aos="fade-down">Nossas Atividades</h1>
      <div class="grid-cards-container">
        <div class="card" data-aos="fade-right" data-aos-delay="400">
          <a>
            <div class="card-img">
              <img src="{% static 'img/card-img-PROJETO04.jpg' %}" alt="" />
            </div>
            <div class="card-title">
              <p class="subtitle cp">Auxílio Paciêntes com Câncer</p>
            </div>
          </a>
          <div class="card-copy">
            <p class="subtitle">Auxílio Pacientes com Câncer</p>
            <p class="card-copy-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum, metus et semper posuere, lacus ipsum molestie purus, vitae finibus ipsum leo et lorem. In maximus laoreet iaculis. Suspendisse et maximus nibh.</p>
            <a>Saiba mais</a>
          </div>
        </div>

        <div class="card" data-aos="fade-right" data-aos-delay="450">
          <a>
            <div class="card-img">
              <img src="{% static 'img/' %}" alt="" />
            </div>
            <div class="card-title">
              <p class="subtitle cp">saúde bucal</p>
            </div>
          </a>
          <div class="card-copy">
            <p class="subtitle">saúde bucal</p>
            <p class="card-copy-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum, metus et semper posuere, lacus ipsum molestie purus, vitae finibus ipsum leo et lorem. In maximus laoreet iaculis. Suspendisse et maximus nibh. Nulla rutrum risus nec ultricies sodales.</p>
            <a>Saiba mais</a>
          </div>
        </div>

        <div class="card" data-aos="fade-right" data-aos-delay="500">
          <a>
            <div class="card-img">
              <img src="{% static 'img/' %}" alt="" />
            </div>
            <div class="card-title">
              <p class="subtitle cp">Bazar</p>
            </div>
          </a>
          <div class="card-copy">
            <p class="subtitle">Bazar</p>
            <p class="card-copy-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum, metus et semper posuere, lacus ipsum molestie purus, vitae finibus ipsum leo et lorem. In maximus laoreet iaculis. Suspendisse et maximus nibh. Nulla rutrum risus nec ultricies sodales.</p>
            <a>Saiba mais</a>
          </div>
        </div>

        <div class="card" data-aos="fade-right" data-aos-delay="400">
          <a>
            <div class="card-img">
              <img src="{% static 'img/' %}" alt="" />
            </div>
            <div class="card-title">
              <p class="subtitle cp">musica</p>
            </div>
          </a>
          <div class="card-copy">
            <p class="subtitle">música</p>
            <p class="card-copy-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum, metus et semper posuere, lacus ipsum molestie purus, vitae finibus ipsum leo et lorem. In maximus laoreet iaculis. Suspendisse et maximus nibh. Nulla rutrum risus nec ultricies sodales. Mauris id orci pellentesque, aliquet turpis vel, ullamcorper risus. Ut pellentesque neque id tristique bibendum. Aenean commodo eros eget viverra hendrerit. A</p>
            <a>Saiba mais</a>
          </div>
        </div>         
       
        

        <div class="card" data-aos="fade-right" data-aos-delay="400">
          <a>
            <div class="card-img">
              <img src="{% static 'img/' %}" alt="" />
            </div>
            <div class="card-title">
              <p class="subtitle cp">alimentação</p>
            </div>
          </a>
          <div class="card-copy">
            <p class="subtitle">Atividades recreativas</p>
            <p class="card-copy-text">              
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum, metus et semper posuere, lacus ipsum molestie purus, vitae finibus ipsum leo et lorem. In maximus laoreet iaculis. Suspendisse et maximus nibh. Nulla rutrum risus nec ultricies sodales. Mauris id orci pellentesque, aliquet turpis vel, ullamcorper risus. Ut pellentesque neque id tristique bibendum. Aenean commodo eros eget viverra hendrerit.</p>


            <a>Saiba mais</a>
          </div>
        </div>
      </div>
      <!-- fim do grid cards -->
    </section>
    <!-- fim section atividades -->

    <section class="info-dados">
      <div class="grid-info-dados-container">
        <div class="historia">
          <ul>
            <li class="title-dados">Fundada em </li>
            <li class="text-serif-dados">16 anos</li>
          </ul>
          <ul>
            <li class="title-dados">Pacientes atendidos</li>
            <li class="text-serif-dados">45646</li>
          </ul>          
          <ul>
            <li class="title-dados">Doações</li>
            <li class="text-serif-dados">7987897</li>
          </ul>
          <ul>
            <li class="title-dados">aaaa</li>
            <li class="text-serif-dados">aaaaa</li>
          </ul>


        </div>
        <div class="texto-doacao">
          <p>
            Com o seu apoio conseguimos atender
            <span class="cd">mais de 4465</span> pessoas mensais e a continuar transformando vidas em <span class="cd">Niterói</span>.
          </p>
          <a href="{% url 'doacao' %}" class="btn-doar">doe agora</a>
        </div>

        <div class="doacao-valores">
          <ul>
            <li>
              <img src="{% static 'img/livro.svg' %}" alt="" data-aos="zoom-in-up" />
            </li>
            <li>
              R$ <span class="counter" data-target="50">0</span>
            </li>
            <li>Apoia no apoio psicológico aos familiares.</li>
          </ul>
          <ul>
            <li>
              <img src="{% static 'img/garfofaca.svg' %}" alt="" data-aos="zoom-in-up" />
            </li>
            <li>
              R$ <span class="counter" data-target="100">0</span>
            </li>
            <li>Distribuição de cestas básicas</li>
          </ul>
          <ul>
            <li>
              <img src="{% static 'img/teacher.svg' %}" alt="" data-aos="zoom-in-up" />
            </li>
            <li>
              R$ <span class="counter" data-target="250">0</span>
            </li>
            <li>Apoia na elaboração de novos eventos.</li>
          </ul>
          <ul>
            <li>
              <img src="{% static 'img/pc.svg' %}" alt="" data-aos="zoom-in-up" />
            </li>
            <li>
              R$<span class="counter" data-target="1000">0</span>
            </li>
            <li>Apoia o trabalho da comunidade no entorno</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="coleta-email-container">
      <div class="coleta-email-item" data-aos="fade-up">
        <h1>Junte-se a nossa lista de e-mails, inscreva-se abaixo</h1>
        <form action="" method="POST">
          {% csrf_token %}
          <label for="nome">Nome <span class="cd">*</span></label>
          <input type="text" id="nome" name="nome" />
          <label for="sobrenome">Sobrenome <span class="cd">*</span></label>
          <input type="text" id="sobrenome" name="sobrenome" />
          <label for="email">Email <span class="cd">*</span></label>
          <input type="email" id="email" name="email" />
          <button type="submit" class="btn-inscrever">Inscrever-se</button>
        </form>
      </div>
    </section>
  </main>
{% endblock %}

{% block script %}
  <script>
    // Função que altera o delay baseado no tamanho da tela
    function updateAosDelay() {
      const card = document.querySelector('.card')
    
      if (window.innerWidth <= 1280) {
        card.setAttribute('data-aos-delay', '0') // Delay para mobile
      }
    }
    window.addEventListener('load', updateAosDelay)
    window.addEventListener('resize', updateAosDelay)
  </script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="{% static 'js/animation.js' %}"></script>
{% endblock %}
